:root {
  --color-principal: #2B282B;
  --color-secundario: #000000;
  --bordes: 15px;
  --shadow: 0 14px 30px rgba(0, 0, 0, 0.35);
  --btnshadow: 4px 3px 10px rgba(188, 65, 184, 0.395);
  --btn: #3e4144;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color-principal);
  color: white;
}

/*====================== HEADER ======================*/

header{
  background-color: var(--color-secundario);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* LOGO + TEXTO */
.header-top{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo{
  width: 80px;
}

/* TÍTULO */
.brand-text{
  font-family: "Press Start 2P";
  text-align: center;
}

.brand-text h1{
  font-size: 22px;
}

.brand-text p{
  font-size: 10px;
  margin-top: 10px;
}

/* NAV */
nav{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

/* BOTONES NAV */
.btn{
  padding: 8px 15px;
  border-radius: var(--bordes);
  background-color: var(--btn);
  box-shadow: var(--btnshadow);
  border: none;
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.1);
}

/*====================== HERO ======================*/

.hero{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*====================== TENDENCIAS ======================*/

.tendencias{
  padding: 30px;
  background-color: #e6eeee;
  border-radius: 20px;
  margin: 30px;
  color: black;
}

/* TITULO */
.titulo-seccion{
  text-align: center;
  margin-bottom: 20px;
}

/* GRID PRODUCTOS */
.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* TARJETAS */
.tarjeta{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  width: 200px;
  transition: 0.3s;
}

.tarjeta img{
  width: 100%;
  display: block;
}

.tarjeta p{
  padding: 5px;
  font-size: 14px;
}

.tarjeta:hover{
  transform: scale(1.05);
}

/* VER MÁS */
.ver-mas{
  text-align: center;
  margin-top: 20px;
}

.ver-mas summary{
  cursor: pointer;
  font-weight: bold;
}

/*====================== CINTA ======================*/

.cinta{
  margin: 20px 0;
  background-color: darkgray;
  overflow: hidden;
}

.cinta-movimiento{
  display: flex;
  gap: 20px;
  padding: 10px;
  white-space: nowrap;
}

/*====================== CATEGORIAS ======================*/

.categorias{
  padding: 30px;
  text-align: center;
}

.categorias ul{
  list-style: none;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/*====================== FAQ ======================*/

.faq{
  padding: 30px;
}

.faq details{
  margin-bottom: 10px;
}

/*====================== FOOTER ======================*/

footer{
  background-color: black;
  padding: 20px;
  text-align: center;
}

.redes ul{
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.redes img{
  width: 30px;
}

.contacto{
  margin-top: 10px;
}